.filters {
  background-color: white;
  height: 7rem;
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 0.4rem;
  position: relative;
  display: flex;
}

.locations,
.amenities {
  height: 100%;
  width: 25%;
}

.locations {
  border-right: 1px solid #dddddd;
}

.locations h3,
.locations h4,
.amenities h3,
.amenities h4 {
  margin: 0;
  margin-left: 20%;
}

.locations h3,
.amenities h3 {
  margin-top: 2.2rem;
}

.popover {
  background-color: #fafafa;
  border: 1px solid #dddddd;
  border-radius: 0.4rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
  display: none;
  z-index: 1;
  position: relative;
}

.popover li h2 {
  font-size: 1.6rem;
  margin: 0;
  margin-top: 2.5rem;
}
ul {
  list-style-type: none;
}
.locations .popover {
  padding-top: 0;
  padding-left: 12%;
}

.amenities .popover {
  padding-left: 20%;
}

.locations:hover .popover,
.amenities:hover .popover {
  display: block;
}
