header {
  background-color: white;
  background-image: url(../images/logo.png);
  background-position: 2rem 50%;
  background-repeat: no-repeat;
  border-bottom: 1px solid #cccccc;
  height: 7rem;
  width: 100%;
}
